.rs {
	width: fit-content;
	height: fit-content;
	font-family: var(--rs-font-family);

	.rs-video-controls,
	.rs-video-volume {
		opacity: 0;
	}

	&:hover,
	&:focus-within {
		.rs-video-controls,
		.rs-video-volume {
			opacity: 1;
		}
	}
}
